hr{
    background-color: white;
}
.my-button:hover{
    background-color: aqua;
}
#char-box{
    font-size: 25px;border:1px solid white;margin-bottom: 5px;
    transition: 1s ease-in-out ;
}
#char-box:hover{
    background-color: black;
    color: white;
    box-shadow: -1px 0px 92px 12px rgba(7,6,18,1);
}
#povchar-box{
    font-size: 25px;border:1px solid white;margin-bottom: 5px;
    transition: 1s ease-in-out ;
}
#povchar-box:hover{
    background-color: black;
    color: white;
    box-shadow: -1px 0px 92px 12px rgba(7,6,18,1);

}